- content_for :title do
  = "#{@post.title} - #{@blog.name}"

#header
  #return-home ‹
  %h1
    = link_to @blog.name, root_url
    
#sidebar
  #avatars
    .avatar
      = image_tag 'https://en.gravatar.com/userimage/19380106/ef32f8e2670ffceaf668a068b99ba52a.jpg?size=60'
%article
  %header
    %h1.title= @post.title
    #info
      = "Writed by Etienne Garnier on #{@post.date.strftime("%Y-%m-%d")}"
  #content= @post.html.html_safe