- content_for :title do
  = "#{@post.title} - #{@blog.name}"

= render 'layouts/header', title: link_to(current_blog.name, root_url), links: ''
    
#sidebar
  #avatars
    - @post.authors.each do |author|
      = gravatar_div_tag author[:email]
%article
  %header
    %h1.title= @post.title
    #info
      Published by
      = (@post.authors.count > 1) ? @post.authors.map{|author| author[:name]}.to_sentence : @post.authors.first[:name]
      = "on #{@post.date.strftime("%b %d, %Y")}"
  #content= (@post.html) ? @post.html.html_safe : ''